<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>津萬文創商業集團</title>
	<script src="public/vue.js"></script>
    <meta name="viewport" content="width=1200">
	<link rel="stylesheet" type="text/css" href="public/style/base.css">
	<link rel="stylesheet" type="text/css" href="public/style/news.css">
	<script src="json/base.json"></script>
	<script src="json/news.json"></script>
	<script src="json/brands.json"></script>
	<script src="json/industry.json"></script>
</head>
<body>
	<div id="app">
		<div class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}" v-html="m.title" :href="m.href"></a>
						<ul v-if="m.submenu">
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- <video autoplay muted loop poster="" width="100%">
			<source src="public/video/20171025_Highlight.mp4">
		</video> -->
		<div class="banner">
			<video autoplay muted loop poster="public/video/cover.jpg" width="100%">
				<source src="public/video/20171025_Highlight_20180519164119.mp4">
			</video>
			<div class="description">
				<div class="left">
					<div class="content">
						<h3>津萬文創商業集團</h3>
						<p>文化產業是中國最具發展潛力的新興產業之一，也是中國政府列為重點扶持的文化產業，現在正在成為新的經濟增長點。津萬抓緊國家對文化的機遇，以自家品牌及品牌管理作為核心發展，打造全方位文化產業集團，覆蓋整個產業鏈...</p>
					</div>
				</div>
				<div class="right">
					<div class="content-tel">
						<h3>服務熱線</h3>
						<p>(852)2177 3535</p>
					</div>
				</div>
			</div>
			<div class="banner-bg"></div>
		</div>

		<div class="industry-nav">
			<a v-for="b in industry" :href="'industry/default.html?b=' + b.en" class="btn">
				<span class="icon" :class="b.en"></span>
				<span v-html="b.project"></span>
			</a>
		</div>

		<!-- <div class="banner-2"><img width="100%" src="public/images/banner2.jpg" alt=""></div> -->
		<div v-if="v_activity" class="title"><span>活動圖片</span><div class="line"></div></div>
		<div v-if="v_activity" class="i-activitry base-wrap">
			<a v-for="a in v_activity" :href="'news/activity.html'">
				<img :src="'public/images/' + a.photo" alt="">
			</a>
			<br class="clear">
		</div>

		<div class="i-about">
			<div class="i-about-wrap base-wrap">
				<h5>津萬文創商業集團</h5>
				<p>文化產業是中國最具發展潛力的新興產業之一...</p>
				<a href="about/culture.html">了解詳情</a>
			</div>
		</div>

		<div class="title"><span>集团新闻</span><div class="line"></div></div>
		<div class="news-list row-3 base-wrap">
			<div v-if="v_news" v-for="(n, i) in v_news" class="news">
				<a :href="'news/default.html?n=21659' + i" class="cover">
					<img :src="'public/images/news/'+n.cover" alt="">
				</a>
				<h6 :title="n.title">
					<a v-html="matchTitle(n.title)" :href="'news/default.html?n=21659' + i"></a>
				</h6>
				<p v-html="matchContent(n.content[0])"></p>
			</div>
			<br class="clear">
		</div>

		<div class="title"><span>集团旗下子公司</span><div class="line"></div></div>
		<div class="brands-list base-wrap">
			<a v-for="b in brands" :href="b.href" :title="b.name" target="_bank">
				<img :src="'public/images/brands/' + b.logo" :alt="b.name"></a>
		</div>

		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in f_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="public/js/base.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					v_news: false,
					brands: brands,
					v_activity: false,
					industry: industry,
					f_menu: f_menu
				}
			},
			mounted() {
				this.v_news = news.slice(0,3)
				this.v_activity = activity.slice(0,3)
			},
			methods: {
				matchTitle(t) {
					var title = t +''
					if (title.length > 22) {
						return title.substring(0,22) + '...'
					} else {
						return title.substring(0,22)
					}
				},
				matchContent(txt) {
					var str= txt +''
					return str.substring(0,70) + '......'
				}
			}
		})
	</script>
</body>
</html>