<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>集團新聞 - 關於我們 - 津萬文創商業集團</title>
    <meta name="viewport" content="width=1200">
	<script src="../public/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/style/base.css">
	<link rel="stylesheet" type="text/css" href="../public/style/news.css">
	<link rel="stylesheet" type="text/css" href="../public/style/phone-style.css">
	<script src="../json/base.json"></script>
	<script src="../json/news.json"></script>
</head>
<body>
	<div id="app">
		<div v-if="!v_menu" class="Loading"><p>loading...</p></div>
		<div v-if="isPhone" class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}"  v-html="m.title" :href="'../' + m.href"></a>
						<ul>
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="'../' + s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div v-if="showPhoneMenu" class="phoneMenuBg" @click="_showPhoneMenu()"></div>
		<div v-if="!isPhone" class="phoneHeaderStand"></div>
		<div v-if="!isPhone" class="phoneHeader">
			<span class="show-menu-icon" @click="_showPhoneMenu()"></span>
		</div>
		<dl v-if="!isPhone" class="phoneMenu" :class="{'Show': showPhoneMenu}">
			<dt><span class="closePhoneMenu" @click="_showPhoneMenu()"></span></dt>
			<dd v-for="(m, i) in h_menu" :class="{'Show': i === show_sub_menu_index}">
				<span v-if="m.submenu" @click="_showPhoneSubMenu(event, i, m.submenu.length)">
					<a v-html="m.title" :href="'../' + m.href"></a>
				</span>
				<a v-else v-html="m.title" :href="'../' + m.href"></a>

				<ul v-if="m.submenu">
					<li v-for="s in m.submenu">
						<a v-html="s.title" :href="'../' + s.href"></a>
					</li>
				</ul>
			</dd>
		</dl>
		
		<div class="sub-banner"></div>
		<div class="nav base-wrap">
			<a href="../index.html">首頁</a> >
			<span>關於我們</span> >
			<a href="index.html">集團新聞</a> >
			<span v-html="news_default.title"></span>
		</div>

		<div class="title mt50"><span v-html="news_default.title">集團新聞</span><div class="line"></div></div>
		<div class="news-default base-wrap">
			<div v-html="'發佈時間：' + news_default.date" class="date"></div>
			<div class="default">
				<section v-for="c in news_default.content" v-html="c"></section>
			</div>
			<div class="news-nav">
				<span class="next">下一篇：
					<a v-if="next_news" :href="'?n=21659' + (news_index + 1)" v-html="matchTitle(next_news.title)"></a>
					<span v-else >無</span>
				</span>
				<span class="prev">上一篇：
					<a v-if="prev_news" :href="'?n=21659' + (news_index - 1)" v-html="matchTitle(prev_news.title)"></a>
					<span v-else >無</span>
				</span>
			</div>
		</div>


		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in v_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="'../' + m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/base.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					news_default: news[0],
					prev_news: false,
					next_news: false,
					news_index: 0,
					v_menu: f_menu,
					showPhoneMenu: false,
					show_sub_menu_index: false,
					isPhone: true
				}
			},
			mounted() {
				if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
					this.isPhone = false
				}
				var hash = this.GetQueryString("n"),
					index = parseInt(hash.slice(5))
				this.news_index = index
				this.news_default = news[index]
				this.prev_news = news[index-1]
				this.next_news = news[index+1]
			},
			methods: {
				GetQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i")
					var r = window.location.search.substr(1).match(reg)
					if (r != null) return unescape(r[2]); return null
				},
				matchTitle(title) {
					return title.substring(0, 12) + '...'
				},
				_showPhoneMenu() {
					this.showPhoneMenu = !this.showPhoneMenu
				},
				_showPhoneSubMenu(e, i, len) {
					if(i === this.show_sub_menu_index){
						this.show_sub_menu_index = false
					} else {
						this.show_sub_menu_index = i
					}
				}
			}
		})
	</script>
</body>
</html>