<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企業文化 - 關於我們 - 津萬文創商業集團</title>
    <meta name="viewport" content="width=1200">
	<script src="../public/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/style/base.css">
	<link rel="stylesheet" type="text/css" href="../public/style/about.css">
	<script src="../json/base.json"></script>
	<script src="../json/about.json"></script>
</head>
<body>
	<div id="app">
		<div v-if="!v_menu" class="Loading"><p>loading...</p></div>
		<div v-if="isPhone" class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}" v-html="m.title" :href="'../' + m.href"></a>
						<ul>
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="'../' + s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div v-if="showPhoneMenu" class="phoneMenuBg" @click="_showPhoneMenu()"></div>
		<div v-if="!isPhone" class="phoneHeaderStand"></div>
		<div v-if="!isPhone" class="phoneHeader">
			<span class="show-menu-icon" @click="_showPhoneMenu()"></span>
		</div>
		<dl v-if="!isPhone" class="phoneMenu" :class="{'Show': showPhoneMenu}">
			<dt><span class="closePhoneMenu" @click="_showPhoneMenu()"></span></dt>
			<dd v-for="(m, i) in h_menu" :class="{'Show': i === show_sub_menu_index}">
				<span v-if="m.submenu" @click="_showPhoneSubMenu(event, i, m.submenu.length)">
					<a v-html="m.title" :href="'../' + m.href"></a>
				</span>
				<a v-else v-html="m.title" :href="'../' + m.href"></a>

				<ul v-if="m.submenu">
					<li v-for="s in m.submenu">
						<a v-html="s.title" :href="'../' + s.href"></a>
					</li>
				</ul>
			</dd>
		</dl>
		
		<div class="sub-banner"></div>
		<div class="nav base-wrap">
			<a href="../index.html">首頁</a> >
			<span>公司簡介</span> >
			<span>企業文化</span>
		</div>

		<div class="title"><span>企業文化</span><div class="line"></div></div>

		<div class="culture-list base-wrap">
			<div v-for="c in culture" class="culture" :class="{'full-img': c.fullImg}">
				<div v-if="c.description[0].title">
					<img style="width:100%;" :src="'../public/images/' + c.photo" alt="">
					<h2><span v-html="c.title"></span></h2>
					<dl class="culture-des-list" >
						<dd v-for="d in c.description" :class="d.className">
							<img :src="'../public/images/' + d.photo" alt="">
							<div class="culture-des">
								<h3><span v-html="d.title"></span></h3>
								<ul class="glwh-list" v-if="typeof(d.description) === 'object'" >
									<li v-for="dd in d.description" :class="dd.className">
										<h4 v-html="dd.title"></h4>
										<p v-for="ddd in dd.description" v-html="ddd"></p>
									</li>
								</ul>
								<p v-else v-html="d.description"></p>
							</div>
						</dd>
					</dl>
				</div>
				<div v-else>
					<h2><span v-html="c.title"></span></h2>
					<img :src="'../public/images/' + c.photo" alt="">
					<ul class="zdhxyz-list">
						<li v-for="cd in c.description" v-html="cd"></li>
					</ul>
				</div>
				<!-- <div class="content">
					<h2><span v-html="c.title"></span></h2>
					<h3 v-if="c.subTitle" v-html="c.subTitle"></h3>
					<p v-if="c.description" v-html="c.description"></p>
					<ul class="des-arry" v-else>
						<li v-for="t in c.desArry">
							<h3 v-html="t.title"></h3>
							<p class="desArry-p" v-html="t.description"></p>
						</li>
					</ul>
				</div> -->
			</div>
		</div>

		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in v_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="'../' + m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/base.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					culture: culture,
					v_menu: f_menu,
					showPhoneMenu: false,
					show_sub_menu_index: false,
					isPhone: true
				}
			},
			mounted() {
				if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
					this.isPhone = false
				}
			},
			methods: {
				_showPhoneMenu() {
					this.showPhoneMenu = !this.showPhoneMenu
				},
				_showPhoneSubMenu(e, i, len) {
					if(i === this.show_sub_menu_index){
						this.show_sub_menu_index = false
					} else {
						this.show_sub_menu_index = i
					}
				}
			}
		})
	</script>
</body>
</html>