<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>加入我們 - 關於我們 - 津萬文創商業集團</title>
	<script src="../public/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/style/base.css">
	<link rel="stylesheet" type="text/css" href="../public/style/join.css">
	<script src="../json/base.json"></script>
	<script src="../json/join.json"></script>
	<script src="../json/brands.json"></script>
</head>
<body >
	<div id="app">
		<div class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}" v-html="m.title" :href="'../' + m.href"></a>
						<ul>
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="'../' + s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="sub-banner"></div>
		<div class="nav base-wrap">
			<a href="../index.html">首页</a> >
			<span>關於我們</span> >
			<span>加入我們</span>
		</div>

		<div class="title"><span>公司概況</span><div class="line"></div></div>
		<div class="base-wrap join-about">
			<h2>津萬文創商業集團</h2>
			<p>津萬文創集團于2010年創立，業務以出版、動漫、品牌管理、企業服務及貿易為核心。</p>
			<p>文化產業是中國最具發展潛力的新興產業之一，也是中國政府列為重點扶持的文化產業，現在正在成為新的經濟增長點。</p>
			<p>津萬抓緊國家對文化的機遇，以自家品牌及品牌管理作為核心發展，打造全方位文化產業集團，覆蓋整個產業鏈。</p>
		</div>

		<div class="title"><span>熱招職位</span><div class="line"></div></div>
		<div class="jobs-list">
			<div class="list head">
				<ul class="base-wrap">
					<li class="t-left">職位名稱</li>
					<li class="t-left">職位類型</li>
					<li>工作地點</li>
					<li>招聘人員</li>
					<li>發佈日期</li>
				</ul>
			</div>
			<div class="list" v-for="(j, i) in v_jobs">
				<ul class="base-wrap">
					<li class="t-left">
						<a v-html="j.title" :href="'jobs.html?d=218516' + i"></a>
					</li>
					<li class="t-left" v-html="j.type"></li>
					<li v-html="j.location"></li>
					<li v-html="j.number"></li>
					<li v-html="j.date"></li>
				</ul>
			</div>
			<ul v-if="v_jobs_length" class="page">
				<li v-for="i in v_jobs_length" 
				v-html="i" 
				:class="{'On': i === v_jobs_index}" 
				@click="_selectPage(i)"></li>
				<li @click="_selectPage(0)" :class="{'On': v_jobs_index === 0}">顯示全部</li>
			</ul>
		</div>

		<div class="title"><span>集團旗下子公司招聘</span><div class="line"></div></div>
		<div class="brands-list base-wrap">
			<div class="brand" v-for="b in brands" :href="b.href" :title="b.name" target="_bank">
				<img :src="'../public/images/brands/' + b.logo" :alt="b.name">
				<p v-html="b.name"></p>
			</div>
		</div>

		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in f_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="'../' + m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/base.js"></script>
	<script type="text/javascript">
		var jobs_num = 8
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					v_jobs: false,
					v_jobs_length: 0,
					v_jobs_index: 1,
					f_menu: f_menu
				}
			},
			mounted() {
				this.v_jobs_length = Math.ceil(jobs.length / jobs_num)
				this.v_jobs = jobs.slice(0,jobs_num)
			},
			methods: {
				_selectPage(i) {
					this.v_jobs_index = i
					if(i===0){
						this.v_jobs = jobs
					} else {
						this.v_jobs = jobs.slice((i-1) * jobs_num, i * jobs_num)
					}
				}
			},
			watch: {
			}
		})
	</script>
</body>
</html>