<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>產業詳情 - 津萬產業 - 津萬文創商業集團</title>
    <meta name="viewport" content="width=1200">
	<script src="../public/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/style/base.css">
	<link rel="stylesheet" type="text/css" href="../public/style/industry.css">
	<script src="../json/base.json"></script>
	<script src="../json/industry.json"></script>
</head>
<body>
	<div id="app">
		<div v-if="!v_menu" class="Loading"><p>loading...</p></div>
		<div v-if="isPhone" class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}"  v-html="m.title" :href="'../' + m.href"></a>
						<ul>
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="'../' + s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div v-if="showPhoneMenu" class="phoneMenuBg" @click="_showPhoneMenu()"></div>
		<div v-if="!isPhone" class="phoneHeaderStand"></div>
		<div v-if="!isPhone" class="phoneHeader">
			<span class="show-menu-icon" @click="_showPhoneMenu()"></span>
		</div>
		<dl v-if="!isPhone" class="phoneMenu" :class="{'Show': showPhoneMenu}">
			<dt><span class="closePhoneMenu" @click="_showPhoneMenu()"></span></dt>
			<dd v-for="(m, i) in h_menu" :class="{'Show': i === show_sub_menu_index}">
				<span v-if="m.submenu" @click="_showPhoneSubMenu(event, i, m.submenu.length)">
					<a v-html="m.title" :href="'../' + m.href"></a>
				</span>
				<a v-else v-html="m.title" :href="'../' + m.href"></a>

				<ul v-if="m.submenu">
					<li v-for="s in m.submenu">
						<a v-html="s.title" :href="'../' + s.href"></a>
					</li>
				</ul>
			</dd>
		</dl>
		
		<div class="sub-banner"></div>
		<div class="nav base-wrap">
			<a href="../index.html">首頁</a> >
			<a href="index.html">津萬產業</a> >
			<span v-html="v_industry_default.project">產業詳情</span>
		</div>

		<div class="title"><span v-html="v_industry_default.project">產業詳情</span><div class="line"></div></div>

		<div class="industry-default base-wrap">
			<h3 class="fb tc" v-if="v_industry_default.subtitle" v-html="v_industry_default.subtitle"></h3>
			<p class="mt15" v-if="v_industry_default.description" v-html="v_industry_default.description"></p>
			<!-- <p class="waiting" v-else>不日推出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;敬請期待...</p> -->
			<img v-if="typeof(v_industry_default.banner) === 'string'" :src="'../public/images/industry/' + v_industry_default.banner" alt="">
			<div v-else class="mt15" v-for="img in v_industry_default.banner">
				<img :src="'../public/images/industry/' + img" alt="">
			</div>
		</div>

		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in v_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="'../' + m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/base.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					v_industry: industry,
					v_industry_default: industry[industry.length - 1],
					v_menu: f_menu,
					showPhoneMenu: false,
					show_sub_menu_index: false,
					isPhone: true
				}
			},
			mounted() {
				if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
					this.isPhone = false
				}
				var hash = this.GetQueryString("b")
				for(var i=0; industry.length > i; i++){
					if(industry[i].en === hash){
						return this.v_industry_default = this.v_industry[i]
					}
					
					// return this.v_industry_default = this.v_industry[index]
				}
			},
			methods: {
				GetQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i")
					var r = window.location.search.substr(1).match(reg)
					if (r != null) return unescape(r[2]); return null
				},
				_showPhoneMenu() {
					this.showPhoneMenu = !this.showPhoneMenu
				},
				_showPhoneSubMenu(e, i, len) {
					if(i === this.show_sub_menu_index){
						this.show_sub_menu_index = false
					} else {
						this.show_sub_menu_index = i
					}
				}
			}
		})
	</script>
</body>
</html>