<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>津萬產業 - 津萬文創商業集團</title>
    <meta name="viewport" content="width=1200">
	<script src="../public/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/style/base.css">
	<link rel="stylesheet" type="text/css" href="../public/style/industry.css">
	<script src="../json/base.json"></script>
	<script src="../json/industry.json"></script>
</head>
<body>
	<div id="app">
		<div class="header">
			<div class="base-wrap">
				<h1><span class="logo"></span></h1>
				<div class="menu">
					<div v-for="(m, i) in h_menu" class="m-btn" :class="{'has-sub-menu' : m.submenu}">
						<a :class="{'On' : i === h_menu_index}"  v-html="m.title" :href="'../' + m.href"></a>
						<ul>
							<li v-for="s in m.submenu">
								<a v-html="s.title" :href="'../' + s.href"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="sub-banner"></div>
		<div class="nav base-wrap">
			<a href="../index.html">首页</a> >
			<span>津萬產業</span>
		</div>

		<div class="title"><span>津萬產業</span><div class="line"></div></div>

		<div class="industry-nav">
			<span v-for="(b, index) in v_industry"
			 class="btn" 
			 :class="{'On' : index === v_industry_index}" 
			 @click="_seclectIndustry(index)">
				<span class="icon" :class="b.en"></span>
				<span v-html="b.project"></span>
			</span>
		</div>

		<div class="b-default base-wrap">
			<img :src="'../public/images/industry/' + v_industry_default.banner" alt="">
			<div v-if="v_industry_default.description" class="description">
				<h2 v-html="v_industry_default.project"></h2>
				<p v-html="v_industry_default.description"></p>
				<a class="btn" :href="'default.html?b=' + v_industry_default.en">了解详情</a>
			</div>
		</div>


		<div class="footer">
			<div class="f-wrap">
				<dl v-for="(fm,key) in f_menu">
					<dt v-html="key"></dt>
					<dd v-for="m in fm"><a v-html="m.title" :href="'../' + m.href"></a></dd>
				</dl>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/js/base.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					h_menu: h_menu,
					v_industry: industry,
					v_industry_index: 0,
					v_industry_default: industry[0],
					f_menu: f_menu
				}
			},
			mounted() {
			},
			methods: {
				_seclectIndustry(i){
					this.v_industry_index = i
				}
			},
			watch: {
				v_industry_index(n, o) {
					if(o!==n){
						this.v_industry_default = this.v_industry[n]
					}
				}
			}
		})
	</script>
</body>
</html>